@import 'mixin';
@import 'utils';

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
  color: #2c3e50;
}

.header {
  background-color: #FFF;
  border-bottom: solid 1px #F3F3F3;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 4;
  position: relative;

  &__logo {
    width: 130px;
    height: 30px;
  }

  &__social {
    list-style-type: none;
    display: inline-block;
    display: flex;
  }

  &__github {
    width: 30px;
    height: 30px;
  }
}

.social {
  margin: 0;
  padding: 0;
}

.actionbar {
  background-color: #FFF;
  height: 36px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  z-index: 4;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.22) 0px 1px 4px;

  &__section {
    flex-grow: 1;
    flex-basis: 33.333%;
    margin-top: -2px; // hack to visually center align content

    &--swatch {
      display: flex;
      justify-content: center;
    }
  }

  &__left {
    display: flex;
  }

  &__nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 38px;
  }

  &__nav-item {
    margin-left: 10px;
    position: relative;
    height: 100%;
    width: 40px;
    text-align: center;
    &:not(:first-child):before {
      content: '|';
      margin-left: 10px;
      position: absolute;
      left: -17px;
      top: 9px;
      color: #eaeaea;
    }
  }

  &__nav-link {
    // height: 100%;
    // display: block;
    padding: 7px 8px 3px;
    border-radius: 3px;

    &:hover {
      background-color: #f3f3f3;
    }
  }

  &__nav-icon {
    width: 16px;
    height: 16px;
    margin-top: 12px;
    fill: #3c4859;
  }

}



  .menu {
    padding-right: 0;

    &__icon {
      @include burger(20px, 2px, 3px, #333, 13px, 0.25s);
    }
    &.is-active {
      .menu__icon {
        @include burger-to-cross();
      }
    }
  }


  .burger {
    display: flex;
    align-items: center;
    span { margin-right: 5px }
    text-decoration: none;
    color: #373737;
    font-size: 14px;
  }

  .trigger {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }

  .hex {
    display: inline-block;
    font-family: "SF Mono Regular", "Source Code Pro", Consolas, monospace;
    font-size: 15px;

    &__block {
      position: relative;
      float: left;
      cursor: pointer;
      margin-top: 3px;
      margin-right: 3px;
      display: inline-block;
      width: 14px;
      height: 14px;
      background-color: #69D8E7;
    }

    &__copied {
      position: absolute;
      background-color: #eaeaea;
      padding: 3px 5px;
      font-size: 12px;
      border-radius: 3px;
      margin-left: -27px;
      bottom: 0;
      opacity: 0;
    }

    .hex__arrow { font-style: 16px !important; }

    &.last {
      .hex__arrow { display: none; }
    }
  }


.display {
  display: block;
  background-color: #fff;
  height: calc(100vh - 86px);
  position: absolute;
  width: 100%;
  top: 86px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  &__gradientname {
    @include font-smoothing();
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    top: -8px;
    color: #fff;
    font-size: 20px;
    margin-top: 0;
  }

}





.nav {
  @include clearfix();
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  display: block;
  width: 100%;

  &__item {
    transition: all .2s ease-in-out;
    display: inline-block;
    height: 100px;
    width: 60px;
    background-color: rgba(255,255,255,.1);
    cursor: pointer;
    position: relative;
    &:first-child { float: left; }
    &:last-child { float: right; }

    &:hover {
      background-color: rgba(255,255,255,.2);
      .nav__arrow { width: 18px; }
    }
  }

  &__arrow {
    width: 15px;
    height: 24px;
    top: 50%;
    position: absolute;
    margin-top: -9px;
    fill: #fff;
    transition: width .2s ease-in-out;

    &--left { margin-left: 16px; }
    &--right { margin-left: 24px; }
  }
}



.button {
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
  padding: 0 10px 0 10px;
  background-color: #eaeaea;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  display: flex;
  align-items: center;

  span { @include font-smoothing(); }

  &__icon {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    fill: #fff;
  }

  &--facebook {
    background-color: #3b5998;
  }

  &--twitter {
    background-color: #1da1f2;
  }
}


.palette {
  display: block;
  background-color: #333;
  height: calc(100vh - 86px);
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 86px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 8px;
  overflow: scroll;
  box-sizing: border-box;
  // transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
  transition: all 0.25s cubic-bezier(.62,.28,.23,.99);
  transform: translate3d(0, -100%, 0);
  will-change: transform;
  opacity: 0;

  &.active {
    transform: translate3d(0 ,0, 0);
    opacity: 1;
  }

  &__list {
    @include clearfix();
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  	flex-wrap: wrap;
    padding: 10px;
  }

  &__item {
    flex: 0 1 33.33%;
    box-sizing: border-box;
    padding: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #222;
      border-radius: 3px;
      transform: scale(1.02);
      .palette__name {
        text-decoration: underline;
      }
    }

  }

  &__gradient {
    height: 150px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    // @include font-smoothing();
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
  }

}





.modal {
  &__mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    transition: opacity .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container {
    width: 480px;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    text-align: center;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
  }

  &__text {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 22px;
  }

  &__content {
    height: 105px;
    background-color: #F9FAFC;
    margin-bottom: 20px;
  }

  &__success {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}


.btn {
  @include font-smoothing();
  display: inline-block;
  box-sizing: content-box;
  background-color: #1abc9c;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 30px;
  outline: 0 !important;
  border: 0;
  transition: all .2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: darken(#1abc9c, 10%) !important;
  }
}


.modal-enter,
.modal-leave-active {
    opacity: 0;
}

.modal-enter .modal__container,
.modal-leave-active .modal__container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


.codeblock {
  overflow: auto;
  text-align: left;
  font-family: "Source Code Pro", Consolas, monospace;
  color: #476da5;

  &__comment { color: #ababab !important; }
  &__property { color: #2aa198 !important; }
  &__spec { color: #d33682 !important; }
}


@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeup-leave {
  opacity: 1;
}
.fadeup-leave-active {
  animation: fadeOutUp .5s;
}
.fadeup-leave-to {
  opacity: 0;
}



.shortlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  height: 70px;
  padding: 0 20px;

  &__item {
    height: 40px;
    border-radius: 3px;
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      border: solid 2px #fafafa;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    color: #fafafa;
    font-family: "Source Code Pro", monospace;
    font-size: 12px;
    // width: 100%;
    // height: 100%;
  }

}