@import 'mixin';
@import 'utils';

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
  color: #2c3e50;
}

.header {
  background-color: #FFF;
  border-bottom: solid 1px #F3F3F3;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 3;
  position: relative;

  &__logo {
    width: 130px;
    height: 30px;
  }

  &__social {
    list-style-type: none;
    display: inline-block;
    display: flex;
  }

  &__github {
    width: 30px;
    height: 30px;
  }
}

.social {
  margin: 0;
  padding: 0;
}

.actionbar {
  background-color: #FFF;
  height: 36px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  z-index: 3;
  position: relative;

  &__section {
    flex-grow: 1;
    flex-basis: 33.333%;
    margin-top: -2px; // hack to visually center align content

    &--swatch {
      display: flex;
      justify-content: center;
    }

  }

  &__left {
    display: flex;
  }
}



  .menu {
    padding-right: 0;

    &__icon {
      @include burger(20px, 2px, 3px, #333, 13px, 0.25s);
    }
    &.is-active {
      .menu__icon {
        @include burger-to-cross();
      }
    }
  }


  .burger {
    display: flex;
    align-items: center;
    span { margin-right: 5px }
    text-decoration: none;
    color: #373737;
    font-size: 14px;
  }

  .trigger {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
  }

  .hex {
    display: inline-block;
    font-family: "SF Mono Regular", "Source Code Pro", Consolas, monospace;
    font-size: 15px;

    &__block {
      float: left;
      margin-top: 3px;
      margin-right: 3px;
      display: inline-block;
      width: 14px;
      height: 14px;
      background-color: #69D8E7;
    }

    .hex__arrow { font-style: 16px !important; }

    &.last {
      .hex__arrow { display: none; }
    }
  }


.display {
  display: block;
  background-color: #fff;
  height: calc(100vh - 86px);
  position: absolute;
  width: 100%;
  top: 86px;
  bottom: 0;
  left: 0;
  right: 0;

  &__gradientname {
    @include font-smoothing();
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    top: -8px;
    color: #fff;
    font-size: 20px;
    margin-top: 0;
  }

}





.nav {
  @include clearfix();
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  display: block;
  width: 100%;

  &__item {
    transition: all .2s ease-in-out;
    display: inline-block;
    height: 100px;
    width: 60px;
    background-color: rgba(255,255,255,.1);
    cursor: pointer;
    position: relative;
    &:first-child { float: left; }
    &:last-child { float: right; }

    &:hover {
      background-color: rgba(255,255,255,.2);
      .nav__arrow { width: 18px; }
    }
  }

  &__arrow {
    width: 15px;
    height: 24px;
    top: 50%;
    position: absolute;
    margin-top: -9px;
    fill: #fff;
    transition: width .2s ease-in-out;

    &--left { margin-left: 16px; }
    &--right { margin-left: 24px; }
  }
}



.button {
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
  padding: 0 10px 0 10px;
  background-color: #eaeaea;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  display: flex;
  align-items: center;

  span { @include font-smoothing(); }

  &__icon {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    fill: #fff;
  }

  &--facebook {
    background-color: #3b5998;
  }

  &--twitter {
    background-color: #1da1f2;
  }
}


.palette {
  display: block;
  background-color: #333;
  height: calc(100vh - 86px);
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 86px;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  overflow: scroll;
  box-sizing: border-box;
  // transition: all 0.3s ease-in-out;
  backface-visibility: hidden;
  transition: all 0.25s cubic-bezier(.62,.28,.23,.99);
  transform: translate3d(0, -100%, 0);
  will-change: transform;
  opacity: 0;

  &.active {
    transform: translate3d(0 ,0, 0);
    opacity: 1;
  }

  &__list {
    @include clearfix();
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  	flex-wrap: wrap;
    padding: 10px;
  }

  &__item {
    flex: 0 1 33.33%;
    box-sizing: border-box;
    padding: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #222;
      border-radius: 3px;
      transform: scale(1.02);
      .palette__name {
        text-decoration: underline;
      }
    }

  }

  &__gradient {
    height: 150px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__name {
    // @include font-smoothing();
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-family: "Source Code Pro", monospace;
    font-size: 15px;
  }


}
